  <!-- <div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Add Employee Details
          <a class="icon-button" title="back" routerLink="srk" style="float: right;">
            <i class="fa fa-arrow-left"> </i></a>
        </div> -->
        <!--<form>
          <div class="form-row">
            <div class="form-group col-md-6"  style="margin-left: 15px; "   >
              
              <label for="inputname">Name</label>
              <input type="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6" style="margin-left: 15px; ">
              <label for="inputID">ID</label>
              <input type="ID" class="form-control" placeholder="ID">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6" style="margin-left: 15px; " >
              <label for="Phone number">number</label>
              <input type="number" class="form-control" placeholder="Number">
            </div>
            <div class="form-group col-md-6"style="margin-left: 15px; " >
              <label for="Role">Role</label>
              <input type="Role" class="form-control" placeholder="Role">
            </div> 
          </div>
          
          <div class="form-row" style="margin-left: 15px; ">
            <div class="form-group col-md-6">
              <label for="status">Status</label>
              <input type="role" class="form-control" placeholder="Status">
            </div> -->
            
            <div class="animated fadeIn">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <!-- <div class="card-body"> -->
                    <div class="card-header">
                      <i class="fa fa-align-justify"></i> Add Employee Details
                      <a class="icon-button float-right" title="Back" routerLink="srk">
                        <i class="fa fa-arrow-left"></i>
                      </a>
                    </div>
                    <div class="card-body">
                      <form class="p-4">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputName">Name</label>
                          <input type="text" id="inputName" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputID">ID</label>
                          <input type="text" id="inputID" class="form-control" placeholder="ID">
                        </div>
                      </div>
                      <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                          <label for="inputNumber">Number</label>
                          <input type="text" id="inputNumber" class="form-control" placeholder="Number">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputRole">Role</label>
                          <input type="text" id="inputRole" class="form-control" placeholder="Role">
                        </div>
                      </div>
                      <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                          <label for="inputStatus">Status</label>
                          <input type="text" id="inputStatus" class="form-control" placeholder="Status">
                        </div>
                      </div>
                    </form>
                    <div class= "col-12 text-right">

                    <button
                              type="button"
                              class="btn btn-danger"
                              style="width: fit-content;" 
                              
                            >
                            <!-- (click)="resetform()" -->
                              Cancel</button
                            >&nbsp;
                
                            <button
                              type="submit"
                              class="btn btn-success"
                              style="width: fit-content;"
                            >
                              
                              Save
                            </button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            </div>